---

---
.dgt-footer {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
  .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
}

.dgt-nav {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  .navbar-brand {
    font-weight: bold;
    color: inherit;
    &:hover {
      color: #222;
    }
  }
  &.navbar-inverse .navbar-brand:hover {
    color: #f0f0f0;
  }
  .navbar-brand img {
    height: 100%;
    display: inline-block;
    margin-right: 10px;
    width: auto;
  }
  .navbar-toggle {
    border-color: #ddd;
    &:hover, &:focus {
      background: none;
    }
  }
  &.navbar-inverse .navbar-toggle {
    border-color: #555;
  }
  .navbar-toggle .icon-bar {
    background-color: #888;
  }
  &.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #eee;
  }
  .navbar-collapse, .navbar-form {
    border-top-color: #ddd;
  }
  &.navbar-inverse {
    .navbar-collapse, .navbar-form {
      border-top-color: #333;
    }
  }
  .navbar-nav > {
    .active > a, .open > a {
      background: none;
      box-shadow: none;
    }
  }
  &.navbar-default .navbar-nav > .active > a {
    color: #8f8f8f;
    box-shadow: none;
    background: none;
    pointer-events: none;
    &:focus, &:hover {
      color: #8f8f8f;
      box-shadow: none;
      background: none;
      pointer-events: none;
    }
  }
  &.navbar .navbar-nav > li > a {
    padding-left: 18px;
    padding-right: 18px;
  }
  &.navbar-default .navbar-nav > li > a {
    color: #465765;
    &:focus, &:hover {
      color: #37434d !important;
      background-color: transparent;
    }
  }
  .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 2px;
  }
  .dropdown-menu > li > a {
    &:focus {
      line-height: 2;
      font-size: 14px;
      color: #37434d;
      background: #eee;
      color: inherit;
    }
    line-height: 2;
    font-size: 14px;
    color: #37434d;
    &:hover {
      background: #eee;
      color: inherit;
    }
  }
  &.navbar-inverse {
    background-color: #1f2021;
    color: #fff;
    .navbar-nav > {
      .active > a {
        color: #8f8f8f;
        box-shadow: none;
        background: none;
        pointer-events: none;
        &:focus, &:hover {
          color: #8f8f8f;
          box-shadow: none;
          background: none;
          pointer-events: none;
        }
      }
      li > {
        a {
          color: #dfe8ee;
          &:focus, &:hover {
            color: #fff !important;
            background-color: transparent;
          }
        }
        .dropdown-menu {
          background-color: #1f2021;
        }
      }
    }
    .dropdown-menu > li > a {
      &:focus {
        color: #f2f5f8;
        background: #363739;
      }
      color: #f2f5f8;
      &:hover {
        background: #363739;
      }
    }
  }
}

@media (max-width: 767px) {
  .dgt-nav {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .dgt-nav .navbar-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .dgt-nav .navbar-nav .open .dropdown-menu {
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .dgt-nav .navbar-nav .open .dropdown-menu > li > a {
    color: #37434d;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .dgt-nav.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
}

.dgt-intro {
  color: #313437;
  background-color: #fff;
  p {
    color: #7d8285;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
    p {
      margin-bottom: 0;
    }
  }
  .people {
    padding-bottom: 40px;
  }
  .item {
    text-align: center;
    padding-top: 50px;
    .name {
      font-weight: bold;
      margin-top: 28px;
      margin-bottom: 8px;
      color: inherit;
    }
    .title {
      text-transform: uppercase;
      font-weight: bold;
      color: #d0d0d0;
      letter-spacing: 2px;
      font-size: 13px;
    }
    .description {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    img {
      max-width: 360px;
    }
  }
  .social {
    font-size: 18px;
    color: #a2a8ae;
    a {
      color: inherit;
      margin: 0 10px;
      display: inline-block;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 767px) {
  .dgt-intro h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: -30px;
}
